        * {
            box-sizing: border-box;
        }

        img {
            max-width: 100%;
        }

        @font-face {
            font-family: 'kremlinregular';
            src: url('kremlin-webfont.woff2') format('woff2'),
                url('kremlin-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }



        .data-container {
            max-width: 300px;
            margin: 0 auto;
            padding: 10px;
            background: #ececec;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }

        #undervisere {
            border: 1px solid #000;
            padding: 10px;
        }

        #popup {
            top: 0vw;
            left: 8.5vw;
            position: fixed;
            width: 82vw;
            height: 100vh;
            background-color: whitesmoke;
            z-index: 3;
            border: 0.5vw solid red;
            border-radius: 10vw, 0vw, 0vw, 0vw;
        }

        #popperson {
            width: 81vw;
            height: 100vh;
            text-align: center;
            z-index: 4;

        }

        .picup {
            width: 50%;
            height: 50%;
        }

        h1 {
            font-size: 2rem;
            font-family: 'kremlinregular';
        }

        body {
            font-family: 'Russo One', sans-serif;
        }

        nav {
            width: 100%;
            text-align: center;
            padding: 1vw;
        }

        .valgt {
            background-color: red;
        }




        @media screen and (min-width:768px) {
            .data-container {
                max-width: 1000px;
                margin: 0 auto;
                padding: 10px;
                background: #ececec;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            }

            #undervisere {
                border: 1px solid #000;
                padding: 10px;
            }
        }

        @media screen and (min-width:1200px) {
            .data-container {
                max-width: 1200px;
                margin: 0 auto;
                padding: 10px;
                background: #ececec;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            }

            #undervisere {
                border: 1px solid #000;
                padding: 10px;
            }
        }



        .skjul {
            display: none;

        }
